.scroll-stack-scroller {
  position: relative;
  width: 100%;
}

.scroll-stack-inner {
  padding: 10vh 0 30vh;
}

.scroll-stack-slot {
  position: sticky;
}

.scroll-stack-card {
  position: relative;
  transform-origin: top center;
  will-change: transform;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  height: 20rem;
  width: 100%;
  padding: 3rem;
  border-radius: 40px;
  box-sizing: border-box;
}
